{% extends 'base.html.twig' %}

{% block title %}Hello WorkoutExerciseController!{% endblock %}

{% block body %}    
<h1 class="text-4xl text-center">Sur cette page tu peux créer tes séances !</h1>


{% endblock %}
