{% extends 'base.html.twig' %}

{% block title %}Seances{% endblock %}

{% block body %}
<h1 class="text-4xl text-center">Sur cette page tu peux consulter tes séances !</h1>
{% for workout in workouts %}

<a href="{{path("app_workout_exercise_controller_crud_show", {'id': workout.id}) }}">{{workout.name}}</a>

{% endfor %}

{% endblock %}
