{% extends 'base.html.twig' %}

{% block title %}Hello WorkoutController!{% endblock %}

{% block body %}
<h1 class="text-4xl text-center">Sur cette page tu peux créer ta séance !</h1>

{% endblock %}
